
/* Estilos para el contenido principal */
main {
    padding: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 30px;
}

li {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(255, 0, 0, 0.1);
}

/* Estilo para el botón "Leer aquí" */
.btn-lee-aqui {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-lee-aqui:hover {
    background-color: #0056b3;
}
